@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('woff2');
    /* Agrega otros formatos de fuente según sea necesario */
}
@font-face {
    font-family: 'Concert One';
    src: url(/fonts/Concert_One/ConcertOne-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}